header {
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    padding: 5px 0 0 20px;
}

#nav-title {
    font-family: Honk;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    font-size: 4em;
}

@media only screen and (max-width: 450px) {
    #nav-title {
        font-size: 6.5em;
    }
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
}

.nav-button {
    text-decoration: none;
    color: #555;
    transition: all 0.3s ease 0s;
    text-size-adjust: 300%;
}

    .nav-button:hover {
        color: #b2dfdb;
    }

header nav {
    margin-right: 10px;
}
