<header>
    <h1 id="nav-title">Yolsh</h1>
    <!--
    <nav>
        <ul>
            <li>
                <a class="nav-button" href="/">
                    Hello
                </a>
            </li>
            <li>
                <a class="nav-button" href="/World">
                    World!
                </a>
            </li>
            <li>
                <a class="nav-button" href="/Home">
                    Inside Base
                </a>
            </li>
        </ul>
    </nav>
    -->
</header>